body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.input-container {
    margin-bottom: 10px;
}

.input-container input {
    margin-right: 10px;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
}

.white-image {
    filter: brightness(0) invert(1);
}

body {
    background-image: url('../imgs/back.jpg');
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-attachment: fixed; /* Faz com que a imagem permaneça fixa quando a página é rolada */
    background-position: center; /* Centraliza a imagem */
}
